@function add-box-shadow($x, $y, $blur, $color, $transparency) {
  @return $x $y $blur rgba($color, $transparency);
}

$theme-colors: (
  'primary': #007bff,
  'success': #28a745,
  'info': #17a2b8,
);

@each $color-name in map-keys($theme-colors) {
  .text-#{$color-name} {
    color: map-get($theme-colors, $color-name);
  }
}

@mixin generate-grid-classes($count) {
  @for $i from 1 through $count {
    .col-#{$i} {
      width: 100% / $count * $i;
    }

    .row-#{$i} {
      height: 100% / $count * $i;
    }
  }
}
